
body {
  display: flex;
  justify-content: center;
}

.addIngredientForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}

.ingredientsListContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid white;
}

.ingredientsList {
  flex-wrap: wrap;
  gap: 10px;
}

.donut {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.donutButtons {
  display: flex;
  gap: 5px;
}

.dialog {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 0 1rem 1rem 1rem;
}

.flex {
  display: flex;
}

.favorite {
  text-decoration: underline #90caf9;
  font-style: italic;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.margin-bottom {
  margin-bottom: 2rem;
}