
body {
  display: flex;
  justify-content: center;
}

.addDonutForm {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 2rem;
}

.donut {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.donutButtons {
  display: flex;
  gap: 5px;
}

.dialog {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 0 1rem 1rem 1rem;
}

.flex {
  display: flex;
}

.favorite {
  text-decoration: underline #90caf9;
  font-style: italic;
}
